*,
::before,
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.5;
  min-height: 100vh;
  font-family: sans-serif, monospace;
  width: 100vw;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* responsive design for both mobile and desktop mode*/
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}



/* pseudp-element for style for when text has been highlighted*/
::selection {
  background-color: rgb(0, 240, 248);
}

.pre-loader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: all .3s linear;
}
/* to be added in JS */
.hide-preloader{
  visibility: hidden;
  z-index: -999;
}


#waves{
  height: 0.0000000000000000000001px;
  max-width: 100vw;
}

.logo {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  color: green;
  font-size: 1.3rem;
  padding-top: 0;
  margin-bottom: 0;
}

h5 {
  margin-top: 5px;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: underline;
  color: red;
  margin-bottom: 1.5rem;
}

.info li {
  display: inline;

}
.info li a {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding-left: 5rem;
}
.info li a:hover{
  color: red;
}
#navbar {
  background: rgb(4, 201, 250);
}

.contacts a{
color: blue;
}

.logo img {
  width: 150px;
  height: 150px;
  margin-bottom: 1.5rem;
}
.flex-container {
  display: flex;
  align-items: center;
  flex-direction: row;
 justify-content: space-between;
}
.flexbox {
  /* max-width:90vw; */
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  row-gap: 2rem;
}
.flexbox h4 {
  text-decoration: underline;
  color: green;
}
.flexbox p {
  font-weight: bolder;
  font-size: 15px;
}
.announcements {
  border-radius: 30%;
  text-align: center;
  display: grid;
  font-size: 20px;
  margin-bottom: 20px;
  box-shadow: 2px  4px 10px rebeccapurple;
}
.announcements p {
  color: dodgerblue;
  font-size: 15px;
}

.comments-container{
  display: block;
  justify-content: center;
}

figure {
    border:rgb(4, 201, 250);
  display: flex;
  padding: 20px;
  text-align: center;
  margin:0 auto;
  font-size: 1rem;
  line-height: 2;
}
figure img{
  float: right;
  width: 20%;
  height: 20%;
  border-radius: 20px;
 background: #eee;
 box-shadow: 0 8px 8px -4px lightblue;
}


figcaption {
  font-size: 1em;
  padding: 2px;
  text-align: left;
}
.admission {
  border-radius: 20px;
 background: #eee;
 box-shadow: 0 8px 8px -4px lightblue;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 2;
}
.admission h3 {
  text-align: center;
  margin-left: 90px;
}
.admission li {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  list-style: none;
}

footer {
  background-color: burlywood;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}
.contacts {
  background-color: rgb(6, 118, 96);
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
}
.contacts h3 {
  text-decoration: underline;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


@media screen and (max-width: 800px){
  .info li a {
    font-size: 0.5rem;
    padding-left: 0.7rem;
  }
  .announcements p {
    font-size: 10px;
  }

.flexbox {
  max-width:90vw;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  row-gap: 2rem;
  font-size: 10px;
}
}
