*,
::before,
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: sans-serif, monospace;
  width: 100vw;
  background: hsl(210, 36%, 96%);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* responsive design for both mobile and desktop mode*/
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

/* pseudp-element for style for when text has been highlighted*/
::selection {
  background-color: rgb(0, 240, 248);
}
#waves {
  height: 0.0000000000000000000001px;
  max-width: 100vw;
}

.logo {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  color: green;
  font-size: 1.3rem;
  padding-top: 0;
  margin-bottom: 0;
}

h5 {
  margin-top: 5px;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: underline;
  color: red;
  margin-bottom: 1.5rem;
}

.info ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.info li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
}

.info li a:hover {
  color: red;
}

#navbar {
  background: rgb(4, 201, 250);
}

.contacts a {
  color: rgb(113, 235, 13);
}

.logo img {
  width: 150px;
  height: 150px;
  margin-bottom: 1.5rem;
}
footer {
  background-color: burlywood;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.contacts {
  background-color: rgb(6, 118, 96);
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
}


.contacts h3 {
  text-decoration: underline;
}

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
.resources {
  display: flex;
  justify-content: center;
}
